*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-decoration: none;
}

body {
  font-family: roboto;
}

a {
  color: black;
}

.logo {
  height: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  width: 150px;
}

.location {
  background-color: #f6f6f6;
  text-align: center;
  height: 19em;
}

.location__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5e5e5;
  border: 0.1em inset white;
  height: 2.5em;
}

.location__nav i {
  margin-right: 14px;
}

.location__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 15em;
  padding: 0 1em;
}

.location__menu h3 {
  font-weight: 400;
  font-size: 1.2em;
}

.location__menu button {
  font-size: 1em;
  height: 3em;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da 0%, #9356dc 100%);
  text-align: center;
  outline: none;
  border: 0px solid #1c6ea4;
  border-radius: 3rem;
  width: 15em;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.location__menu button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transform: scale(1.17);
          transform: scale(1.17);
  color: black;
}

.navigation {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation h2 {
  margin: 1em 9em 0em 0em;
  padding-bottom: 13px;
}

.navigation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 16em;
  width: 20em;
  padding-left: 0.1em;
  margin-top: 1em;
}

.navigation__button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  border: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  outline: none;
  height: 4.5em;
  border-radius: 1.250em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navigation__button button:hover {
  background-color: #e1d0f5;
  color: white;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.navigation__button button:hover i:hover {
  color: #9356dc;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.navigation__button button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  right: 7em;
  background-color: #9356dc;
  border-radius: 2em;
  color: white;
  font-size: 0.9em;
  height: 2em;
  width: 2em;
}

.navigation__button button .circle__3 {
  left: -5.28em;
}

.navigation__button button .fa-store {
  margin-right: 12em;
}

#closer {
  margin-right: 2em;
}

.navigation__button i {
  color: #939393;
  position: absolute;
  margin-right: 11em;
  font-size: medium;
}

main {
  background-color: #f6f6f6;
  margin-top: 5em;
  padding: 20px;
}

main h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 9em 1em 0em;
}

main .card_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 35px;
}

main .card_section img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em 1em 0em 0em;
  height: 9.5em;
  width: 21em;
}

main .card__Restaurants {
  background-color: white;
  width: 21em;
  height: 14em;
  border-radius: 1em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main .card__Restaurants p {
  font-weight: 300;
}

main .card__Restaurants span {
  position: relative;
  left: 17.4em;
  bottom: 9em;
  background-color: #99e2d0;
  color: #217460;
  padding: 0.4em 1.50em;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
}

main .card__Restaurants__text {
  margin: 5px 14px;
  line-height: 1.40em;
}

main .card__Restaurants__text__heigth {
  margin: -15px 14px;
  line-height: 1.40em;
}

main .card__Restaurants .fa-heart {
  position: relative;
  left: 11em;
  bottom: 1em;
  font-size: 25px;
  font-weight: 300;
}

main .card__Restaurants .fa-heart--full {
  color: transparent;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

main .card__Restaurants .fa-heart--full:hover {
  color: #9356dc;
  -webkit-transform: scale(0.86);
          transform: scale(0.86);
  background-clip: text;
}

footer {
  background-color: #333333;
  color: white;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  height: 13.5em;
  margin-left: 2em;
  color: white;
}

footer .container a {
  color: white;
  text-decoration: none;
}

footer .container i {
  margin-right: 0.75em;
}

footer .container p {
  margin: 1em 0em;
  font-family: shrikhand;
  font-size: 1.2em;
}
/*# sourceMappingURL=main.css.map */