.navigation{
    margin-top: 2em;
    display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

    h2{
        padding-bottom: 13px;
    }
}
.navigation__button{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 16em;
	width:20em;
	padding-left:0.1em;
	margin-top: 1em;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-gray;
        border: $color-background;
       @include button-shadow;
        cursor: pointer;
        outline: none;
        height: 4.5em;
		border-radius: 1.250em;
        transition:  all 0.4s ease-in-out;
        &:hover{
            background-color:#e1d0f5;
            color: $color-background;
            transform: scale(1.07);
            i:hover {
                color: #9356dc;
                transition:  all 1s ease-in-out;
              }
        }
        span {
           display: flex;
           align-items: center;
           justify-content: center;
           position: relative;
           right: 8em;
            background-color:$color-Primary;
            border-radius: 2em;
            color:$color-background;
            font-size: 0.9em;
            height: 2em;
            width: 2em;
        
		}
        .circle__3{
            left: -5.28em;
        } 
       

    }
}
.navigation__button i{
    color:#939393;
   position: absolute;
   margin-right: 17em;
  
}

main{
     background-color: $light-gray;
     margin-top: 5em;
     

    h2{
        display: flex;
        align-items: center;
        padding: 2em 1em 1em 1em;
        margin: 0em 1em;
    }
    .card_section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 1em;
        
    
        img{
            object-fit: cover;
            border-radius: 1em 1em 0em 0em;
            height: 12em;
            width: 21em;
            
        }


    }
    .card__Restaurants{
        background-color:$color-background;
        width: 21em;
        border-radius: 1em 1em;
        @include button-shadow;

        span{
            position: relative;
            left: 20.4em;
            bottom: 14em;
            background-color: $color-tertiary;
            color: darken( $color-tertiary, 40% );
            padding: 0.5em 1.50em;
            border-radius: 5px;
            font-size: 0.8em;
            font-weight: 500;
            overflow: hidden;
	        transition: 0.3s linear;
    
        }
        &__text{
            padding: 0em 1em;
            line-height: 1.3em;
        }
        .fa-heart {
            font-size: larger;
            color: #939393;
          
            outline: none;
            display: flex;
            justify-content: flex-end;
            position: relative;
            bottom: 2em;
            &:hover{
              color:$color-Primary;
              background: none;
              background-image:$color-Primary;
              background-clip: border-box;
            
             
		    
            }

        }

    }
   
   
}