.navigation{
    margin-top: 2em;
    display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

    h2{
         margin: 1em 9em 0em 0em;
        padding-bottom: 13px;
    }
}
.navigation__button{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 16em;
	width:20em;
	padding-left:0.1em;
	margin-top: 1em;
    
   

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-gray;
        border: $color-background;
       @include button-shadow;
        cursor: pointer;
        outline: none;
        height: 4.5em;
		border-radius: 1.250em;
        transition:  all 0.4s ease-in-out;
        &:hover{
            background-color:#e1d0f5;
            color: $color-background;
            transform: scale(1.07);
            i:hover {
                color: #9356dc;
                transition:  all 1s ease-in-out;
              }
        }
       

        span {
           display: flex;
           align-items: center;
           justify-content: center;
           position: relative;
           right: 7em;
            background-color:$color-Primary;
            border-radius: 2em;
            color:$color-background;
            font-size: 0.9em;
            height: 2em;
            width: 2em;
        
		}
        .circle__3{
            left: -5.28em;
        } 

       .fa-store{
           margin-right: 12em;
         
       }

    }
}
 #closer{
         margin-right: 2em;
 }
.navigation__button i{
   color:#939393;
   position: absolute;
   margin-right: 11em;
   font-size: medium;
  
}

main{
     background-color: $light-gray;
     margin-top: 5em;
     padding: 20px;

    h2{
        display: flex;
        justify-content: center;
        margin: 1em 9em 1em 0em;
    }
    .card_section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom:35px ;
        
        
    
        img{
            object-fit: cover;
            border-radius: 1em 1em 0em 0em;
            height: 9.5em;
            width: 21em;
            
        }


    }
    .card__Restaurants{
        background-color:$color-background;
        width: 21em;
        height: 14em;
        border-radius: 1em 1em;
        @include button-shadow;
        
        p{
            font-weight: 300;
        }

        span{
            position: relative;
            left: 17.4em;
            bottom: 9em;
            background-color: $color-tertiary;
            color: darken( $color-tertiary, 45% );
            padding: 0.4em 1.50em;
            border-radius: 5px;
            font-size: 0.9em;
            font-weight: 500;
        
        }
        &__text{
            margin: 5px 14px;
            line-height: 1.40em;
 
           &__heigth{
            margin: -15px 14px;
            line-height: 1.40em;

           }
           
        }
        
    }
    
   
}
.heart-section{
   margin-top: -2em;

   
   
   .icon--full{
    color: #9356dc;
   }
}
.fa-heart{
    position: absolute;
    left: 14em;
    font-size: 1.5em;
    cursor: pointer;

    &:hover{
        color: #9356dc;
    }
    
}
   

footer {
	background-color: darken( $color-background, 80% );
    color: $color-background;
	.container {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		height: 13.5em;
		margin-left: 2em;
        color: $color-background;

        a {
            color: white;
            text-decoration: none;
        }
       
        i {
        
            margin-right: 0.75em;
        }
        p {
            margin: 1em 0em ;
            font-family: $font-secondary;
            font-size: 1.2em;
           
        }
	}
	
}