.logo {
    height: 3.5em;
    @include flex-center;
    img {
        width: 150px;
    }
}
.location {
	background-color: $light-gray;
	text-align: center;
	height: 19em;
    &__nav{
        @include flex-center;
        background-color:$dark-gray;
        border:  0.1em inset $color-background;
        height: 2.5em;
        i{
            margin-right: 14px;
        }

    }
    &__menu{
        @include flex-center;
		flex-direction: column;
		justify-content: space-evenly;
		height: 15em;
		padding: 0 1em;

        h3 {
			font-weight: 400;
			font-size: 1.2em;
        }
        button{
            font-size: 1em;
            height: 3em;
            color: $color-background;
             @include btn-color;
             text-align: center;
             outline: none;
             border: 0px solid rgb(28, 110, 164);
             border-radius: 3rem;
             width: 15em;
             cursor: pointer;
             @include button-shadow;
             transition: all 1s ease-in-out;
             &:hover {
                @include button-shadow;
                transform: scale(1.17);
                color: black;
            }
			
        }

    }
}
