@mixin button-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin btn-color {
   background: linear-gradient(#ff79da 0%, #9356dc 100%);
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin desktop{
    @media only screen and (min-width: 1440px) {
        @content; 
    }
}