$color-Primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background: white;
$color-icon:#939393;


$dark-gray: #e5e5e5;
$light-gray:#f6f6f6;

$font-primary: roboto;
$font-secondary: shrikhand;
